:root {
  --blue: #1e90ff;
  --width: clamp(700px, 800px, 1000px);
  --height: calc(var(--width) / 7.06);
}

a {
  text-decoration: none;
  color: black;
}




body {
  margin:0;
}

.App {
  display:flex;
  justify-content: center;
  text-align: center;
  background-color:#191919;
  height: 100vh;
  width:100vw;
}







.chigiri{
  position:absolute;
  left:40vw;
  top:10vh;
  height:8.5vw;
  width:21vw;
}


.user{
  position:absolute;
  left:63vw;
  top:19vh;
  --tw-text-opacity: 1;
  color: white;
  font-size: 1.5rem/* 24px */;
  line-height: 2rem/* 32px */;
  font-weight: 500;
  text-decoration: none;
}

.signin{
  --tw-text-opacity: 1;
  color: white;
  font-size: 1.5rem/* 24px */;
  line-height: 2rem/* 32px */;
  font-weight: 500;
  text-decoration: none;
}



.test{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}









.CharStart{
  color: white;
  font-size: calc(var(--width) / 30);
  white-space: pre;
}

.CharWrong{
  color: #e0829d;
  font-size: calc(var(--width) / 30);
  white-space: pre;
} 

.CharCorrect{
  color: #BED754;
  font-size: calc(var(--width) / 30);
  white-space: pre;
}

.wordDisappear{
  width:0;
  display:none;
}

.wordBorder{
  padding:2px;
}

.wordCurrent{
  z-index:3;
  background-color: #353434;
  border-color: #353434;
  border-radius: 4px;
  padding:2px;
}







.textBorderOutline {
  border-radius: 7px;
  height: var(--height);
  width: var(--width);
  background-color: #242323;
  border:none;
  position:relative;
}

.textBorder {
  display: flex;
  flex-wrap: wrap;
  height: calc(var(--height) / 1.6);
  width: calc(var(--width) / 1.07);
  top: calc(var(--height) / 4.9);
  left: calc(var(--width) / 30);
  background-color: #242323;
  border:none;
  position:relative;
  overflow: hidden;
}














.inputStuff{
  display:flex;
  align-items: center;
  height: calc(var(--height) / 2);
  width: var(--width);
  overflow: hidden;
  margin-top: 1%;
}

.box{
  margin-left: 0.2%;
  border-radius: 5px;
  height: 90%;
  width: 55%;
  background-color: #242323;
  border:none;
  display:block;
  color: white;
  font-size: calc(var(--width) / 25);
  padding-left:2vh;
  /*box-shadow: 0 0 12px #F5E8C7; */
}

.box:focus-visible{
  outline: 2px solid #435585;
  color: white;
  box-shadow: none;
}



.InputUtilities {
  display:flex;
  flex-direction:row;
  height: 90%;
  width:40%;
  margin-left: auto;
  margin-right: 1%;
  justify-content: flex-end;
}



.wpm{
  display:flex;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 5px;
  background-color: #242323;
  border:none;
  text-align: center;
  align-items:center;
  justify-content: center;
  font-size: calc(var(--width) / 25);
  color: white;
}

.wpmtext{
  position:relative;
  top:0.6vh;
  padding-left:0.5vh;
  font-size:2vh;
}

.time{
  display:flex;
  padding-left: 5%;
  padding-right: 5%;
  font-size: calc(var(--width) / 25);
  border-radius: 5px;
  height: 100%;
  background-color: #242323;
  border:none;
  text-align: center;
  align-items:center;
  justify-content: center;
  color: white;
}

.reset{
  vertical-align:top; /* Align button vertically */
  border-radius: 5px;
  height: 100%;
  background-color: #242323;
  border:none;
}

.reset:hover{
  background-color: #435585;
}

.arrow{
  height: 5vh;
  width: 5vh;
}

.seperator{
  height:100%;
  width: calc(var(--width)/ 60);
}