.App {
  text-align: center;
  background-color:#191919;
  height: 100vh
}

.CharStart{
  color: white;
  font-size: 2vw;
  white-space: pre;
}

.CharWrong{
  color: #e0829d;
  font-size: 2vw;
  white-space: pre;
} 

.CharCorrect{
  color: #BED754;
  font-size: 2vw;
  white-space: pre;
}

.wordDisappear{
  width:0;
  display:none;
}

.wordBorder{
  padding:2px;
}

.wordCurrent{
  z-index:3;
  background-color: #353434;
  border-color: #353434;
  border-radius: 4px;
  padding:2px;
}

.textBorderOutline {
  border-radius: 7px;
  height: 20vh;
  width: 60vw;
  background-color: #242323;
  border:none;
  position:relative;
  top: 35vh;
  left: 20vw;
}

.textBorder {
  display: flex;
  flex-wrap: wrap;
  height: 12vh;
  width: 56vw;
  top: 4vh;
  left: 2vw;
  background-color: #242323;
  border:none;
  position:relative;
  overflow: hidden;
}

.box{
  border-radius: 5px;
  height: 8vh;
  width: 35vw;
  background-color: #242323;
  border:none;
  position:relative;
  top: 2vh;
  left: 2vw;
  display:block;
  color: white;
  font-size: 4vh;
  padding-left:2vh;
  /*box-shadow: 0 0 12px #F5E8C7; */
}

.box:focus-visible{
  outline: 2px solid #435585;
  color: white;
  box-shadow: none;
}

.inputStuff{
  position:relative;
  height: 20vh;
  width: 80vw;
  top: 35vh;
  left: 18vw;
  overflow: hidden;
}

.wpm{
  display:flex;
  border-radius: 5px;
  height: 8vh;
  width: 8vw;
  top: 2vh;
  left: 40vw;
  background-color: #242323;
  border:none;
  position:absolute;
  text-align: center;
  align-items:center;
  justify-content: center;
  font-size: 4vh;
  color: white;
}

.wpmtext{
  position:relative;
  top:0.6vh;
  padding-left:0.5vh;
  font-size:2vh;
  justify-content:end;
}

.time{
  display:flex;
  font-size:4vh;
  border-radius: 5px;
  height: 8vh;
  width: 7vw;
  top: 2vh;
  left: 49vw;
  background-color: #242323;
  border:none;
  position:absolute;
  text-align: center;
  align-items:center;
  justify-content: center;
  color: white;
}

.reset{
  display:flex;
  border-radius: 5px;
  height: 8vh;
  width: 5vw;
  top: 2vh;
  left: 57vw;
  background-color: #242323;
  border:none;
  position:absolute;
  text-align: center;
  align-items:center;
  justify-content: center;
  color: white;
}

.reset:hover{
  background-color: #435585;
}

.chigiri{
  position:absolute;
  left:40vw;
  top:10vh;
  height:8.5vw;
  width:21vw;
}

.arrow{
  position:relative;
  height: 6vh;
  width: 3vw;
}